<h1 mat-dialog-title>Bid</h1>
<div mat-dialog-content>
  {{data.bnode.bid}}
  <ul>
  <li *ngFor="let node of data.linkedNodes">
      <span> {{node.bid}}</span>
    </li>
  </ul>

  <ul>
    <li *ngFor="let sequence of data.sequences">
      <span> {{sequence}}</span>
    </li>
  </ul>

<!--  My favorite animal is:-->
<!--  <ul>-->
<!--    <li>-->
<!--      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda-->
<!--    </li>-->
<!--    <li>-->
<!--      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn-->
<!--    </li>-->
<!--    <li>-->
<!--      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion-->
<!--    </li>-->
<!--  </ul>-->
</div>
