.sidenav-container {
  height: 90%;
}

.main-container {
  //width: 99%;
  height: 70vh;
  background-color: #33f;
//  border: 4px solid #555;
}

.mat-drawer-container {
  //background: #ffe480;
  background: green;
}
