<div>
  <p>
    {{bnode.bid}}    [{{bnode.condition}}]

  </p>
</div>

<table>
  <thead><td class="min20"></td></thead>
  <tr *ngFor="let bn of bnode.nodes" app-bid-item="bn" [bnode]="bn" [subject]="subject"
      ($addOrDeleteNode)="addOrdeleteNode($event)">
  </tr>
  <tr app-bid-item [bnode]="newBnode" [subject]="subject" ($addOrDeleteNode)="addOrdeleteNode($event)" [newBid]="true"></tr>

  <tr *ngIf="linkedNodes.length >0">
    <td> Linked</td>
    <td>{{bnode.linkedNode?.bid}} [{{bnode.linkedNode?.condition}}] -
      <a [routerLink]="" (click)="materialize()"> materialize </a> -
      <a [routerLink]="" (click)="unlink()"> unlink </a>
    </td>
  </tr>
  <tr *ngFor="let bn of linkedNodes" app-bid-item="bn" [bnode]="bn" [subject]="subject"
      ($addOrDeleteNode)="addOrdeleteNode($event)">
  </tr>
</table>
<p></p>



<!--<div *ngFor="let bn of bnode.nodes">-->
<!--  <app-bid-line [bnode]="bn" [subject]="subject" ($deleteNode)="deleteNode($event)"></app-bid-line>-->
<!--</div>-->

<!--<app-bid-line [bnode]="newBnode" [subject]="subject" [newBid]="true"></app-bid-line>-->
<!--<a (click)="addNode()" [routerLink]=""><i class="material-icons">-->
<!--  add-->
<!--</i>-->
<!--</a>-->


