<div class="lineheight10">

  <table>
    <thead>
    <td class="min20"></td>
    </thead>
    <tr *ngFor="let bnc of bncList" app-bid-item="bn" [bnc]="bnc" [subject]="subject" [bidEditable]="editable"
        ($addOrDeleteNode)="addOrdeleteNode($event)">
    </tr>
    <tr *ngIf="editable" app-bid-item [bnc]="newBnc" [subject]="subject" ($addOrDeleteNode)="addOrdeleteNode($event)"
        [newNode]="true"></tr>

    <tr *ngIf="linkedNodes.length >0" class="linkeNodes">
      <td> Linked</td>
      <td> </td>
      <td><strong>{{bnc.bnode.linkedNode?.bid}}  </strong>

        <a [routerLink]="" (click)="materialize()" matTooltip="Materialize">
          <mat-icon aria-hidden="false" aria-label="Example home icon">content_copy</mat-icon>
        </a>

      </td>
      <td><a [routerLink]="" (click)="unlink()" matTooltip="Unlink">
        <mat-icon>link_off</mat-icon>
      </a>
      </td>
    </tr>
    <tr *ngFor="let bnc of getLinkedBncList()" app-bid-item="bn" [bnc]="bnc" [subject]="subject" [bidEditable]="editable"
        ($addOrDeleteNode)="addOrdeleteNode($event)"  class="linkeNodes">
    </tr>
  </table>
</div>
