<mat-toolbar>
  <mat-icon [matMenuTriggerFor]="entries">menu</mat-icon>

  <span>&nbsp;</span>
  <mat-menu #entries="matMenu">
    <button mat-menu-item routerLink="biddingsystem">
      System
    </button>
    <button mat-menu-item routerLink="dealview">
      Dealer
    </button>
    <button mat-menu-item routerLink="lin">
      Lin-Files
    </button>
    <button mat-menu-item routerLink="edit">
      edit (TBD)
    </button>
    <button mat-menu-item routerLink="bborecords">
      BBO Records
    </button>
  </mat-menu>

  <span>Bridge Explorer</span>
<!--  <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #menu2="matMenu">-->
<!--    <button mat-menu-item>-->
<!--      <mat-icon>dialpad</mat-icon>-->
<!--      <span>Redial</span>-->
<!--    </button>-->
<!--    <button mat-menu-item disabled>-->
<!--      <mat-icon>voicemail</mat-icon>-->
<!--      <span>Check voice mail</span>-->
<!--    </button>-->
<!--    <button mat-menu-item>-->
<!--      <mat-icon>notifications_off</mat-icon>-->
<!--      <span>Disable alerts</span>-->
<!--    </button>-->
<!--  </mat-menu>-->

</mat-toolbar>

<router-outlet></router-outlet>
<!--<img src='assets/background.png' width="100%" height="100%">-->
