<!--<span *ngFor="let bid of biddingSequence.bids" > {{bid}}</span>-->

<table class="tabl">
  <tr class="header">
    <td class="cell" >W</td>
    <td class="cell">N</td>
    <td class="cell">E</td>
    <td class="cell">S</td>
  </tr>
  <tr *ngFor="let i of numbers">
    <td *ngFor="let j of [0,1,2,3]">
      <span *ngIf="4*i+j < biddingEnd && 4*i+j>=biddingStart">
        <app-strain-symbol [strain]="(biddingSequence.bids[4*i+j-biddingStart])"></app-strain-symbol>
      </span>
    </td>
  </tr>

</table>


<!--https://www.bridgebase.com/myhands/fetchlin.php?id=1070643200&when_played=1617996516-->
