.header {
  color: white;
  background: red;
  font-size: 11pt;
}
.cell {
  width: 40px;
  text-align: center;
}
.tabl {
  text-align: center;
  background: #e7ffe4
}

.fett {
  color: greenyellow;
}
