table td {
  vertical-align: top;
}


.mat-icon {
  //font-size: 15px;
}

.bidjar {
  background: #eeffff;
}

.con {
  background: green;
  color: white;
  margin: 3px;
}
.desc {
  background: blue;
  color: white;
  margin: 3px;
}

.opp {
  background: #ffe480;
}
