<a [routerLink]="" (click)="saveIntoLocalStorage()" matTooltip="Save to local storage">
  <mat-icon aria-hidden="false" aria-label="Example home icon">save</mat-icon>
</a>
<a [routerLink]="" (click)="loadFromLocalStorage()" matTooltip="Retrieve from local storage">
  <mat-icon aria-hidden="false" aria-label="Example home icon">restore_page</mat-icon>
</a>

<a [routerLink]="" (click)="downloadSystem()" matTooltip="Download System as JSON">
  <mat-icon aria-hidden="false" aria-label="Example home icon">download</mat-icon>
</a>

<a [routerLink]="" (click)="triggerFileUpload()"  matTooltip="Upload JSON-based System">

  <mat-icon aria-hidden="false" aria-label="Example home icon">upload</mat-icon>
</a>

<a [routerLink]="" (click)="loadLegacySystem()"> Load Legacy System </a> -
<a [routerLink]="" (click)="resetSystem()"> Load new System </a> -
<a [routerLink]="" (click)="loadElementarySystem()"> Load Elementary System </a> -



<p>

  <app-bnode-sequence [subject]="subject" (selectNode)="setBnode($event)"
                      (conditions)="activateDealView($event)" ></app-bnode-sequence>

<table>
  <tr>
    <td>
      <a [routerLink]="" (click)="markAsLinkable()"> Add As Linkable Node </a> -
      <a [routerLink]="" (click)="showStatistics()"> Show Statistics </a>

      <app-bid-list [bnode]="bnode" [subject]="subject"></app-bid-list>

      <app-linkable-bnode-list [linkableBnodes]="linkableBnodes"
                               (linkNodeEvent)="linkBnode($event)"></app-linkable-bnode-list>
    </td>
    <td *ngIf="dealViewActivated">
      <app-deal-view [dealConditionSequence]="dealConditions"></app-deal-view>
    </td>

  </tr>
</table>

<input #fileInput type="file" accept=".json" (change)="processFile(fileInput)" style="visibility:hidden">
