<a [routerLink]="" (click)="loadLegacySystem()"> Load Legacy System </a> -
<a [routerLink]="" (click)="resetSystem()"> Load new System </a> -
<a [routerLink]="" (click)="loadElementarySystem()"> Load Elementary System </a> -

<a [routerLink]="" (click)="saveIntoLocalStorage()"> Save System to local Storage </a> -
<a [routerLink]="" (click)="loadFromLocalStorage()"> Load System from local Storage </a> -
<a [routerLink]="" (click)="downloadSystem()"> Download System </a>
<input #fileInput type="file" accept=".json" (change)="processFile(fileInput)">

<p>

  <app-bnode-sequence [subject]="subject" (selectNode)="setBnode($event)"
                      (conditions)="activateDealView($event)" ></app-bnode-sequence>

<table>
  <tr>
    <td>
      <a [routerLink]="" (click)="markAsLinkable()"> Add As Linkable Node </a> -
      <a [routerLink]="" (click)="showStatistics()"> Show Statistics </a>

      <app-bid-list [bnode]="bnode" [subject]="subject"></app-bid-list>

      <app-linkable-bnode-list [linkableBnodes]="linkableBnodes"
                               (linkNodeEvent)="linkBnode($event)"></app-linkable-bnode-list>
    </td>
    <td *ngIf="dealViewActivated">
      <app-deal-view [dealConditionSequence]="dealConditions"></app-deal-view>
    </td>

  </tr>
</table>
