.min20 {
  min-width: 1px;
}

.opp {
  background-color: #ffe480;
  //color: white;
}

.mat-icon {
  font-size: 15px;
}
.pointer {
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid olivedrab;
  outline: none;
}

.parsingNotOk {
  //border-color: red;
  //border-width: 5px;
  background-color: lightsalmon;
}

//input[type=text]:focus {
//  outline: none;
//  background-color: lightblue;
//}
