
  <td *ngIf="newNode">
    <input [(ngModel)]="bnode.bid" size="2"/></td>


  <td *ngIf="!newNode" (click)="selectBid(bnode)" class="min20" [ngClass]="{'opp': bnode.ob}">
    {{bnode.bid}}
  </td>

  <td>
    <input [(ngModel)]="bnode.con" size="50"/>
  </td>

  <td >
    <a *ngIf="!newNode" [routerLink]="" (click)="addOdeleteBid(bnode)" class="mat-cell">
      <i class="material-icons">
        delete
      </i>
    </a>
    <a *ngIf="newNode" [routerLink]="" (click)="addOdeleteBid(bnode)" class="mat-cell">
      <i class="material-icons">
        add
      </i>
    </a>


  </td>

  <td>
    {{bnode.id}}
  </td>
