.min20 {
  min-width: 10px;
}

.opp {
  background-color: red;
  color: white;
}

.icon-small{
  transform: scale(2);
  background-color: gray;
}

.mat-icon {
  font-size: 15px;
}

input{
  border: none;
  border-bottom: 1px solid olivedrab;
}
