/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: white}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/background.png");
}

.pointer {
  cursor: pointer;
}

.bnodeSequence {
  padding-top: 30px;
  cursor: pointer;
}
